body {
  font-family: "Noto Sans KR", sans-serif;
}

img[src^="https://static.wanted.co.kr"]:not([class])
{
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 0px 1px, rgb(0 0 0 / 8%) 0px 1px 2px;
  object-fit: contain;
  clip: unset !important;
}
